* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* background-image: linear-gradient(120deg, #e96443 0%, #904e95 100%); */

background-color: #F4D03F; 
background-image: linear-gradient(132deg, #F4D03F 0%, #16A085 100%); 

  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}
header {
  font-size: 2rem;
}


header{
  margin-bottom: -100px;
}
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form input {
  padding: 0.5rem;
  padding-left: 20px;
  font-size: 2rem;
  border: none;
  background: white;
  border-radius: 40px;
  width: 700px;
}
form input::placeholder{
  font-size: 35px;
}
button{
  outline: none;
}
form button {
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 30px;
  border: none;
  color: white;
  background: #ff6f47;
  border-radius: 40px;
  margin-left: 20px;
}
form button {
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover {
  background: #ff6f47;
  color: white;
}
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  margin-top: 100px;
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 1rem;
  padding-left: 30px;
  width: 800px;
  border-radius: 30px;
  background: white;
  font-size: 1.5rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}
.filter-todo {
  padding: 1rem;
  font-size: 1rem;
}
.todo li {
  flex: 1;
}

.trash-btn,
.complete-btn {
  background: #ff6f47;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.complete-btn {
  background: rgb(11, 212, 162);
}
.trash-btn{
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}


.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

/*CUSTOM SELECTOR */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}
input{
  outline: none;
}
/* Custom Select */
.select {
  border-radius: 20px;
  margin: 1rem;
  position: relative;
  margin-top: 200px;
  margin-left: -215px;
  overflow: hidden;
}
select {
  color: #ff6f47;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 12rem;
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  color: #ff6f47;
  background: white;
  cursor: pointer;
  pointer-events: none;
}
/* Transition */
/*
.select:hover::after {
  transform: scale(1.5);
}
*/
